.menu-bar,
.menu-overlay-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.menu-hero {
  display: flex;
  justify-content: space-between;
}

.menu-bar a,
.menu-open p {
  cursor: pointer;
}
.button-menu {
  will-change: transform;
  /* transform: translateY(100%); */
}

.menu-open {
  padding: 0.75rem 1.25rem;
  color: white;
  background:  white;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-container  {
  position: relative;
}

.menu-container .content-menu {
  overflow: hidden;
}

.menu-container .content-menu .get-menu {
  background: rgb(238, 238, 238);
  color: #000;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.menu-close p {
  
  color: #000;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: 2em;
  background: rgb(255, 255, 255);
  z-index: 20;
  display: flex;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
  flex: 2;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.menu-copy {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 2em; */
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-close-icon p {
  font-size: 100px;
  line-height: 70%;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
  position: relative;
}

.menu-link-item-holder a {
  color: #000;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 85%;
}

.menu-info {
  display: flex;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-close-icon {
    display: none;
  }

  /* .menu-copy {
    padding-top: 8em;
  } */

  .menu-link-item-holder a {
    font-size: 60px;
  }
}
